[submodule "third-party/unique_function"]
	path = Engine/core/unique_function
	url = https://github.com/LesleyLai/unique_function
[submodule "third-party/volk"]
	path = third-party/volk
	url = https://github.com/zeux/volk.git
[submodule "third-party/VulkanMemoryAllocator"]
	path = third-party/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Engine/core"]
	path = Engine/core
	url = https://github.com/Beyond-Engine/Core.git
