---
Checks:          '*,
-clang-analyzer-deadcode.DeadStores,
-clang-analyzer-alpha.*,
-cert-dcl21-cpp,
-cppcoreguidelines-macro-usage,
-cppcoreguidelines-special-member-functions,
-cppcoreguidelines-pro-bounds-constant-array-index,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-pro-type-union-access,
-cppcoreguidelines-pro-type-reinterpret-cast,
-cppcoreguidelines-avoid-c-arrays,
-cppcoreguidelines-avoid-magic-numbers,
-hicpp-avoid-c-arrays,
-hicpp-special-member-functions,
-hicpp-uppercase-literal-suffix,
-hicpp-signed-bitwise,
-misc-unconventional-assign-operator,
-cppcoreguidelines-c-copy-assignment-signature,
-modernize-avoid-c-arrays,
-readability-braces-around-statements,
-readability-else-after-return,
-readability-implicit-bool-cast,
-readability-implicit-bool-conversion,
-readability-magic-numbers,
-readability-named-parameter,
-readability-uppercase-literal-suffix,
-readability-function-size,
-llvm-include-order,
-llvm-header-guard,
-fuchsia-*,
-google-runtime-references,
-google-build-using-namespace
'
WarningsAsErrors: '*'
HeaderFilterRegex: 'catch.hpp'
FormatStyle: 'file'
CheckOptions:
  - key:             misc-non-private-member-variables-in-classes.IgnorePublicMemberVariables
    value:           '1'
...
